:root {
    --white: #CDC5B4;
    --background: #1B2D2A;
    --orange: #F34213;
    --purple: #412234;
    --blue: #197278;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Edu SA Beginner', cursive;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--white);
}

header {
  text-align: center;
  margin-bottom: 6vh;
  font-size: 3vw;
}

.main-box {
  background-color: var(--white);
  color: var(--background);
  border: none;
  border-radius: 20%;
  width: 75vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6vh;
  box-shadow: 0px 10px 8px var(--purple);
  font-size: 2vw;
  gap: 3.5vw;
}

.input-block {
  display: flex;
}

.main-box input {
  background-color: var(--white);
  border: none;
  border-bottom: 3px solid var(--orange);
  width: 40vw;
  text-align: center;
  font-size: 3vw;
  line-height: 5vw;
}

.main-box input:focus {
  border: 3px solid var(--orange);
  outline: none;
}

.main-box button {
  background-color: var(--orange);
  padding: 2.5% 4%;
  border: none;
  border-radius: 20%;
  color: var(--white);
  margin-left: 6%;
}

.main-box button:hover {
  box-shadow: 0px 0px 10px var(--purple);
}

.main-box button:active {
  background-color: #b32d07;
}

.sub-box {
  background-color: var(--blue);
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 12px 12px 12px 6px;
  text-align: justify;
  text-align-last: center;
  font-size: 2vw;
}

.symbol {
  padding-right: 6px;
  font-size: 3vw;
}

.bold {
  font-weight: bold;
}

@media (max-width: 480px) {
  header {
    font-size: 5vw;
  }
  .main-box {
    font-size: 6vw;
    text-align: center;
  }
  .main-box input {
    font-size: 8vw;
  }
  .sub-box {
    font-size: 6vw;
    width: 70vw;
  }
  .symbol {
    font-size: 9vw;
  }
}